<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @card.date %>
</p>

<p>
  <b>Sat overallqol:</b>
  <%= @card.SAT_overallQoL %>
</p>

<p>
  <b>Sat prospects:</b>
  <%= @card.SAT_prospects %>
</p>

<p>
  <b>Prof principalactivity:</b>
  <%= @card.PROF_principalActivity %>
</p>

<p>
  <b>Prof sideprojects:</b>
  <%= @card.PROF_sideProjects %>
</p>

<p>
  <b>Prof futureplans:</b>
  <%= @card.PROF_futurePlans %>
</p>

<p>
  <b>Soc friends:</b>
  <%= @card.SOC_friends %>
</p>

<p>
  <b>Soc family:</b>
  <%= @card.SOC_family %>
</p>

<p>
  <b>Soc romantic:</b>
  <%= @card.SOC_romantic %>
</p>

<p>
  <b>Phys medical:</b>
  <%= @card.PHYS_medical %>
</p>

<p>
  <b>Phys fitness:</b>
  <%= @card.PHYS_fitness %>
</p>

<p>
  <b>Phys appearance:</b>
  <%= @card.PHYS_appearance %>
</p>

<p>
  <b>Fin overallhealth:</b>
  <%= @card.FIN_overallHealth %>
</p>

<p>
  <b>Fin managementorganization:</b>
  <%= @card.FIN_managementOrganization %>
</p>

<p>
  <b>Fin futureoutlook:</b>
  <%= @card.FIN_futureOutlook %>
</p>

<p>
  <b>Sat overallqol c:</b>
  <%= @card.SAT_overallQoL_C %>
</p>

<p>
  <b>Sat prospects c:</b>
  <%= @card.SAT_prospects_C %>
</p>

<p>
  <b>Prof principalactivity c:</b>
  <%= @card.PROF_principalActivity_C %>
</p>

<p>
  <b>Prof sideprojects c:</b>
  <%= @card.PROF_sideProjects_C %>
</p>

<p>
  <b>Prof futureplans c:</b>
  <%= @card.PROF_futurePlans_C %>
</p>

<p>
  <b>Soc friends c:</b>
  <%= @card.SOC_friends_C %>
</p>

<p>
  <b>Soc family c:</b>
  <%= @card.SOC_family_C %>
</p>

<p>
  <b>Soc romantic c:</b>
  <%= @card.SOC_romantic_C %>
</p>

<p>
  <b>Phys medical c:</b>
  <%= @card.PHYS_medical_C %>
</p>

<p>
  <b>Phys fitness c:</b>
  <%= @card.PHYS_fitness_C %>
</p>

<p>
  <b>Phys appearance c:</b>
  <%= @card.PHYS_appearance_C %>
</p>

<p>
  <b>Fin overallhealth c:</b>
  <%= @card.FIN_overallHealth_C %>
</p>

<p>
  <b>Fin managementorganization c:</b>
  <%= @card.FIN_managementOrganization_C %>
</p>

<p>
  <b>Fin futureoutlook c:</b>
  <%= @card.FIN_futureOutlook_C %>
</p>

<p>
  <b>Goalslastquarter:</b>
  <%= @card.goalsLastQuarter %>
</p>

<p>
  <b>Resultslastquarter:</b>
  <%= @card.resultsLastQuarter %>
</p>

<p>
  <b>Goalsnextquarter:</b>
  <%= @card.goalsNextQuarter %>
</p>

<p>
  <b>Metricsnextquarter:</b>
  <%= @card.metricsNextQuarter %>
</p>

<p>
  <b>Potentialfuturegoals:</b>
  <%= @card.potentialFutureGoals %>
</p>

<p>
  <b>Potentialfuturegoalideas:</b>
  <%= @card.potentialFutureGoalIdeas %>
</p>

<p>
  <b>Keylearnings:</b>
  <%= @card.keyLearnings %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
